.main__wrapper{
    padding: 50px;
    padding-top: unset;

}

.top__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin:  50px 0;
    flex-wrap: wrap
}

.top__wrapper .chart-container{ 
    zoom: 0.7;
}

.bottom__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}